@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgb(219, 219, 219);
  background-color: #fafafa;
  border-radius: 4px;
}

.input:focus {
  border: 1px solid rgb(0, 140, 255);
  outline: inherit;
}

.overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overlay label {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
