@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
